<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet"  href="{% static '/dist/output.css'  %}">
</head>
<div class="flex flex-col h-screen w-screen bg-slate-200 items-stretch justify-center">
  <div class="h-screen w-screen flex flex-row p-20 items-center justify-center bg-slate-200">
  <div class="text-middle items-middle justify-center text-left">
    <h1 class="font-bold text-blue-400 text-6xl" style="font-family: 'Roboto'">
      Facebook
    </h1>
    <p class="text-slate-400 text-xl"style="font-family: 'Roboto Light'">
      Connect Yourself to People from all over the World.
    </p>
  </div>
  <form class="flex flex-col p-10 ml-24 gap-2" action="{% url 'login' %}" method="post">
      {% csrf_token %}
  <input type="text" name="username" placeholder="Username" class="border w-72 p-3 rounded-lg outline-2 outline-gray-400 border-slate-400" style="font-family: Arial">
  <input type="password" name="password" placeholder="Password" class="border w-72 p-3 rounded-lg outline-2 outline-gray-400 border-slate-400" style="font-family: Arial">
    <button class="rounded-lg bg-blue-400 text-white hover:bg-blue-800" style="font-family: 'product sans'">Sign In</button>
  </form>
  </div>
  <footer>
    <div class="w-screen bg-blue-400 h-5 static-bottom-0">
    <p class="text-sm text-white text-middle text-center" style="font-family: 'Roboto Light'">Vision Web Development. A Subsidiary of Vision Group Pvt. Ltd.</p>
    </div>
  </footer>
</div>
</html>